<%- include("header") -%> 
<form class="container-fluid" method="post">
    <div class = "problemset">
        <p><%= try %></p>
        <p><%= ip %></p>

       </div>
    </form>

    

    <%- include("footer") -%> 